#beer-graph {
  margin: auto;
  width: 90%;
  height: 50rem;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 10rem;
}

.filter-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0% 5% 1em 5%;
  padding: 0 2em 2em 2em;
  border: 1px solid black;
}

.date-filter {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
